setuptools~=70.0.0
jsonschema~=4.23.0
pre-commit~=4.1.0
black~=25.1.0
pytest~=8.3.5
coverage~=7.6.12
pymongo~=4.11.2
PyYAML~=6.0.2
pipenv~=2024.4.1
git+https://github.com/NIEHS/accelerator-core@develop
